.about-container {

    background-color: #070c46;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.about-content {

    display: flex;
    align-items: center;
    gap: 40px;
    color: white;
    max-width: 900px;

}

.about-image img {

    width: 400px;
    height: 400px;
    border-radius: 0%;
    object-fit: cover;
    border: 3px solid white;

}

.about-info h2 {

    font-size: 32px;
    margin-bottom: 16px;
    font-weight: bold;

}

.about-info p {

    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 24px;

}

.social-links {

    display: flex;
    gap: 20px;

}

.social-links a {

    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

}

.social-links a:hover {

    color: white;

}

@media (max-width: 768px) {

    .about-content {

        flex-direction: column;
        text-align: center;

    }
    .about-image img {

        width: 150px;
        height: 150px

    }

}